<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context = "http://www.springframework.org/schema/context"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns = "http://www.springframework.org/schema/beans"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:component-scan base-package = "top.singu" />
	
	<context:property-placeholder location = "classpath:robot.properties" />
	
	<bean id = "knowledgeRepertory" class = "top.singu.knowledge.KnowledgeRepertory">
		<property name = "knowledgeMap" ref = "knowledgeMap" />
	</bean>
	
	<bean id = "knowledgeMap" class = "java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key = "turing">
					<bean class = "top.singu.knowledge.impl.TuringRobotKnowledge">
						<property name = "apiurl" value = "${TuringRobot.api}" />
						<property name = "apikey" value = "${TuringRobot.apikey}" />
					</bean>
				</entry>
			</map>
		</constructor-arg>
	</bean>
	
	<bean id = "objectMapper" class = "com.fasterxml.jackson.databind.ObjectMapper" />
</beans>